@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900);
/* font-family: "Poppins", sans-serif; */

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}